.fundo{
    max-width: 500px;
    max-height: 200px;
    object-fit: cover;
    opacity: 40%;
}

.avatar{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -15px;
}

.card-info{
    margin-top: 15px;
}